:root {
    --brand-color: #2196F3;
    --secondary-color: #212121;
    --tripartite-color: #757575;
    --fourth-color: #ffffff;
    --black-color: #2F303A;
    --opacity-color: #ffffff99;
    --grey-color: #f5f4fa;
    --btn-hover: #188CE8;
    --border-color: #eeeeee;
    --icon-color: #AFB1B8;
    --card-set-gap: 30px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--fourth-color);
    color: var(--secondary-color);
    letter-spacing: 0.03em;
    margin: 0;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 25px;
    
}

.nav {
    display: flex;
    
}

.logo-link {
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    color: var(--secondary-color);
}

.logo-span {
    color: var(--brand-color);
}

.icons-logo {
    margin-right: 10px;
    fill: var(--tripartite-color);
}

.icons-logo:hover,
.icons-logo:focus {
    /*fill:var(--brand-color);*/
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.munu {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 93px;
}

.content {
    display: flex;
    align-items: center;
}

.munu-list {
    margin-right: 50px;
}

.munu-list:last-child {
    margin-right: 0px;
}

.munu-list-studio::after {
    content: '';
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: -25px;
    width: 48px;
    height: 4px;
    background: var(--brand-color);
    border-radius: 2px;
}


.munu-list-portfolio::after {
    content: '';
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: -25px;
    width: 78px;
    height: 4px;
    background: var(--brand-color);
    border-radius: 2px;
}

.content-list {
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.content-list:first-child {
    margin-left: 0px;
}

.menu-link,
.content-link {
    font-weight: 500;
    line-height: 1.15px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.menu-link,
.content-link {
    text-decoration: none;
}

.content-link {
    color: var(--tripartite-color);
}


.content-list:hover .icons-logo,
.content-list:focus .icons-logo {
    fill:var(--brand-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.munu .menu-link:hover,
.munu .menu-link:focus {
    color: var(--brand-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content .content-link:hover,
.content .content-link:focus {
    color: var(--brand-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
    color: var(--brand-color);
}

/*effective*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container-effective {
   
    text-align: center;
}

.effective {
       max-width: 1600px;
       height: 600px;
       margin: 0 auto;
       background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
       url(../image/background_img.jpg);
        background-size: cover;
       background-color: var(--black-color);
       background-repeat: no-repeat;
}

.effective-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--fourth-color);
    padding-top: 200px;
    
}

.effective-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: var(--fourth-color);
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    margin-top: 30px;
}

.effective-btn:hover,
.effective-btn:focus {
    background-color: var(--btn-hover);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.рeculiarities-tit-hide {
    font-size: 36px;
    line-height: 1.17;
    
    text-align: center;
}

.рeculiarities-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    background: var(--grey-color);
    text-align: center;
    border-radius: 4px;
}

.рeculiarities-title {
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.15;
    text-transform: uppercase; 
}

.рeculiarities-list {
    display: flex;
    justify-content: space-between;
}

.рeculiarities-block {
    width: 270px;
}

.рeculiarities-text {
    line-height: 1.7;
    color: var(--tripartite-color);
}

/*we-doing----------------we-doing*/

.we-doing {
    padding-top: 0;
}

.we-doing-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    
}

.we-doing-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.our-team {
    background-color: var(--grey-color);
}


.our-team-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.we-doing-etem {
    position: relative;
}

.we-doing-text {
    position: absolute;
    width: 100%;
    font-size: 14px;
    line-height: 1.14;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    padding-top: 27px;
    padding-bottom: 27px;
    color: var(--fourth-color);
    background-color: rgba(47, 48, 58, 0.8);
    text-transform: uppercase;
    left: 0;
    bottom: 0;
    
}



.our-team-social-networks {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}


.our-team-networks {
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    background: var(--fourth-color);  
}

.our-team-networks:last-child {
    margin-right: 0;
}

.our-team-icons {
    position: relative;
    top: 12px;
    fill: var(--icon-color);
}

.our-team-icons:hover,
.our-team-icons:focus {
    fill: var(--fourth-color);
}

.our-team-networks:hover,
.our-team-networks:focus {
    background: var(--brand-color);
}

.our-team-networks:hover .our-team-icons,
.our-team-networks:focus .our-team-icons {
    fill: var(--fourth-color);
    transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.our-team-list {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}


.our-team-cont {
    background: var(--fourth-color);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-team-title {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 50px;
}


.our-team-title {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--secondary-color);
}

.our-team-title-text {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    text-align: center;
    color: var(--secondary-color);  
}

.our-team-text {  
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--tripartite-color);
}


.clients-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.clients-block {
    display: flex;
    justify-content: space-between;
}

.clients-item {
    width: 170px;
    height: 90px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid var(--icon-color); 
}

.clients-icons {
    margin-top: 23px;
    fill: var(--icon-color);
}

.clients-item:hover .clients-icons,
.clients-item:focus .clients-icons {
    fill: var(--brand-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover,
.clients-item:focus {
    border: 1px solid var(--brand-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icons:hover,
.clients-icons:focus {
    fill: var(--brand-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer*/

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-first-block {
    flex-grow: 1;
}


.footer-secko-block {
    margin-left: 70px;
}



.footer-icon-block {
    display: flex;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--black-color);
}

.footer-list {
    margin-bottom: 9px;
}

.footer-list:last-child {
    margin-bottom: 0;
}

.link-footer,
.footer-address {
    font-style: normal;
    color: var(--fourth-color);
}

.footer-link {
    font-style: normal;
    line-height: 1.17;
    text-decoration: none;
    color: var(--opacity-color);
}

.address {
    margin-top: 20px;
}


.footer-text-icon, 
.footer-text-form {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--fourth-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}


.footer-icon-item {
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%; 
}

.footer-icon-item:hover,
.footer-icon-item:focus {
     background-color: var(--brand-color);
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-item:last-child {
    margin-right: 0;
}

.footer-icon {
    position: relative;
    top: 12px;
    fill: var(--fourth-color);
}


.footer-form-all {
    display: flex;
}

.footer-form {
    margin-left: 93px;
}

.footer-input {
    width: 343px;
    height: 46px;
    font-size: 16px;
    line-height: 1.2;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--fourth-color);
    border-radius: 4px;
    background: transparent;
    padding-left: 15px;
}

.footer-label {
    position: absolute;
    padding-top: 15px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
}

.form-button {
    display: inline-flex;
    justify-content: center;
    min-width: 200px;
    min-height: 50px;
    font-size: 16px;
    line-height: 1.8;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0px;
    border-radius: 4px;
    background: var(--brand-color);
    margin-left: 12px;
    cursor: pointer;
}

.form-buttom-wrap {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.form-button:hover,
.form-button:focus {
    background-color: var(--btn-hover);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


/*portfolio*/
.portfolio-group {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

.portfolio-list:nth-child(2n) {
    margin-left: 4px;
    margin-right: 4px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    padding: 6px 22px;
    background: var(--grey-color);
    color: var(--secondary-color);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--fourth-color);
    background-color: var(--brand-color);
    transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-cont {
    position: relative;
    z-index: 1;
    background: var(--fourth-color);
    padding: 20px 24px;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.gallery-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--secondary-color); 
}


.gallery>.gallery-list {
    position: relative;
    overflow: hidden;
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.gallery-image {
    min-width: 100%;
}


.gallery-desc {
    position: absolute;
    min-width: 100%;
    height: 302px;
    overflow: hidden;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.gallery-desc-text {
    font-size: 18px;
    line-height: 1.5;
    padding: 63px 24px;
    color: var(--fourth-color);
}


.gallery-list:hover .gallery-desc, 
.gallery-list:focus .gallery-desc {
    transform: translateY(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-list:hover,
.gallery-list:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link {
    display: block;
}

.gallery-text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--tripartite-color);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    min-width: 528px;
    min-height: 581px;
    background-color: var(--fourth-color);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}


.backdrop-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--fourth-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-close-icon {
    fill: #000000;
}

.modal-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;  
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 12px;
}


.form {
    width: 448px;
    height: 342px;
    margin: 0 auto;
    text-align: center;
    
}


.input-block {
    position: relative;
    margin-top: 10px;
}


label, input {
    display:block;
}

.form-label {
    display: flex;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin-bottom: 4px;

    color: var(--tripartite-color);
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    
}

.form-textarea {
    display: block;
    height: 120px;
    padding: 15px 10px;
    resize: none;
}

.form-textarea::placeholder {
    font-family: Roboto,sans-serif;
    color: var(--tripartite-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
} 


.button-form {
    min-width: 200px;
    height: 50px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: var(--fourth-color);
    margin-top: 30px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.button-form:hover,
.button-form:focus {
    background-color: var(--btn-hover);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.input-icon {
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 15px;
    transform: translateY(50%);

}

.form-input:focus ~ .input-icon{
    fill: var(--brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.www:focus ~ .form-textarea{
    fill: var(--brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-input, .footer-input:focus-visible {
    outline: 0;
    outline-offset: 0;
}

.form-input:focus {
    border: 1px solid var(--brand-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-checkbox-block {
    margin-top: 20px;
}

.label-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;   
}

.label-text{
    font-size: 14px;
    line-height: 1.7;
    color: var(--tripartite-color);
    margin-left: 8px;
}

.label-underline {
    color: var(--brand-color);
    text-decoration: underline;
}

.checkbox {
    position: absolute;
    appearance: none;
}

.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    background: #FFFFFF;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    box-sizing: unset;
}

.checkbox:checked + .icon-checkbox{
    background: var(--brand-color);
    background-image: url(../image/icon-check.svg);
    border: 2px solid var(--brand-color);
}
/*-------------------------------------------------*/










